In [1]:
import pandas as pd
import numpy as np
from faker import Faker

fake = Faker()

# Function to create the Clients table
def create_clients_table(n_clients=1000):
    clients = []
    business_name = ['Business 1','Business 2','Business 3']
    banker_name = ['Banker 1','Banker 2','Banker 3','Banker 4', 'Banker 5', 'Banker 6']
    for _ in range(n_clients):
        client = {
            "Client ID": fake.uuid4(),
            "First Name": fake.first_name(),
            "Middle Name": fake.first_name(),
            "Surname": fake.last_name(),
            "DOB": fake.date_of_birth(tzinfo=None, minimum_age=12, maximum_age=90),
            "Country of Residence": fake.country(),
            "Country of Birth": fake.country(),
            "Banker Name": np.random.choice(banker_name),
            "Business Name": np.random.choice(business_name)
        }
        clients.append(client)
    return pd.DataFrame(clients)

# Function to create the Accounts table
def create_accounts_table(n_accounts=3000):
    accounts = []
    account_source_systems = ['Sterling', 'Avaloq', 'Currency','Mortgages']
    account_types = ['Banking', 'Credit', 'Investments']
    sort_codes = ['111111','222222','333333','444444','555555','666666','777777','888888','999999']
    
    for _ in range(n_accounts):
        account = {
            "Account ID": fake.uuid4(),
            "Account Number": fake.random_number(digits=8, fix_len=True),
            "Sort Code": np.random.choice(sort_codes),
            "Account Source system": np.random.choice(account_source_systems),
            "Account type": np.random.choice(account_types)
        }
        accounts.append(account)
    return pd.DataFrame(accounts)

# Function to create the Client_Account_Link table
def create_client_account_link_table(clients_df, accounts_df, n_links=4000):
    client_account_links = []
    client_ids = clients_df["Client ID"].tolist()
    account_ids = accounts_df["Account ID"].tolist()
    
    for _ in range(n_links):
        link = {
            "Account ID": np.random.choice(account_ids),
            "Client_ID": np.random.choice(client_ids)
        }
        client_account_links.append(link)
    return pd.DataFrame(client_account_links)

# Generate the tables
clients_df = create_clients_table()
accounts_df = create_accounts_table()
client_account_link_df = create_client_account_link_table(clients_df, accounts_df)

# Display the tables
print("Clients Table Sample:")
print(clients_df.head())

print("\nAccounts Table Sample:")
print(accounts_df.head())

print("\nClient_Account_Link Table Sample:")
print(client_account_link_df.head())

Clients Table Sample:
                              Client ID First Name Middle Name   Surname  \
0  4f6783b2-bd5b-469c-becd-0d32354141f2    Shannon      Curtis     Gomez
1  a5e0b0ce-a731-4f47-8be4-9f849157b493    Crystal     Barbara  Benjamin
2  3928b99d-2e11-4562-9bb1-f3860ba80527      Julie      Colton     White
3  4311fea2-9d74-4bc5-80a8-584dedf02790    Anthony      Sharon   Estrada
4  fa910e8b-72c9-4d8f-b23b-219406c2ac87   Jennifer     Natalie      Hall

          DOB       Country of Residence Country of Birth Banker Name  \
0  1975-08-09                     Taiwan       Uzbekistan    Banker 5
1  1991-11-30                   Paraguay     Saudi Arabia    Banker 4
2  1967-08-18  Bouvet Island (Bouvetoya)          Eritrea    Banker 3
3  1998-10-27                   Zimbabwe            Yemen    Banker 2
4  1964-03-13                    Grenada            Japan    Banker 5

  Business Name
0    Business 2
1    Business 3
2    Business 3
3    Business 2
4    Business 2

Accounts Table Sample:
                             Account ID  Account Number Sort Code  \
0  0e666450-43ac-483c-b744-54707c582fa9        41990247    111111
1  226da53d-e717-4cd2-90a7-3946a071f2dd        24117775    333333
2  5ce9ca1c-ebc3-4dac-80eb-4eaf27cc10e9        15459964    777777
3  3b165c63-3e25-46c3-99c6-137474bca874        35339539    222222
4  eb810541-876d-4012-80e4-117197252edb        40218745    333333

  Account Source system Account type
0              Currency      Banking
1                Avaloq       Credit
2              Currency  Investments
3              Sterling       Credit
4              Currency      Banking

Client_Account_Link Table Sample:
                             Account ID                             Client_ID
0  37a3ab5b-9793-41ac-93cd-05fb1bd2a35d  a18ba7d8-8cad-4f62-a789-d74c18ea7b82
1  753e151b-d929-474f-adfb-9ed7200e6e15  d598c1cc-c862-49bb-a718-2a3b0174f3fb
2  0a103636-3e98-4b76-bd0b-ada9d8bb8305  657d7ae1-a777-49b5-991f-a5286bf7d449
3  529c14c4-0fd7-4c80-80d0-8f0e2cc996ee  8873e483-6afc-4491-bc81-c5c358aa6e0b
4  9b9611d9-3282-4815-a064-1fc1655546c7  39b71e12-0b80-47a2-9bed-ab6d6aa683db